.form-container {
  display: table;
  width: 100%;
  height: 100%;
  
}

#form-flex-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  min-height: 0px;
}

#input-container {
  display: table-cell;
  width: 100%;
  padding: 10px 0 10px 0;
}

#input-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#input-full-width {
  display: table-cell;
  padding: 0 10px 0 10px;
  width: 100%;
}

.input-button-container {
  justify-content: center;
  width: 80px;
  padding: 10px;
}


#conversation-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}

#message-list {
  flex: 1 1 auto;
  overflow-y: auto;
  height: calc(100vh - 200px);
  /*background-color: yellow;*/
}

mat-drawer{
    padding: 0 10px 0 0;
    width: 40%;
}

.inline-container {
  display: flex;
  flex-direction: row;
}

.inline-container mat-icon{
    margin-top: 5px;
    margin-right:5px;
}

.inline-container h2{
    margin: 0;
}

.inline-container h4 {
  margin: 0;
}

#dic-word{
    display:flex;
    flex-direction:column;
}

.definition-container mat-form-field {
  width: 100%;
  margin-bottom: -1.25em;
}


.definition-container a{
    text-decoration: none;
}

mat-panel-title {
  justify-content: space-between;
  align-items: center;
}

.description-container p{
    margin-left:10px;
}

.description-container h4{
    margin-top: 5px;
    margin-bottom:0;
}

table {
  width: 100%;
}
