<mat-drawer-container class="drawer-container">

  <mat-drawer mode="side" opened disableClose position="end">
    <mat-accordion multi="true">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Check Spelling
          </mat-panel-title>
          <mat-panel-description>
            <div *ngIf="dataSource[0].token != '-'; else elseBlockNum">
              [{{ dataSource.length }}]
            </div>
            <ng-template #elseBlockNum>No Suggestions</ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="spellcheck-container">
          <p>Entry: {{ wordToProof }}</p>
          <ng-template #elseBlockDescrip></ng-template>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" *ngIf="dataSource[0].token != ''">
            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
            <!-- Word Column -->
            <ng-container matColumnDef="word">
              <th mat-header-cell *matHeaderCellDef> Word </th>
              <td mat-cell *matCellDef="let element"> {{element.token}} </td>
            </ng-container>
            <!-- Suggestions Column -->
            <ng-container matColumnDef="suggestions">
              <th mat-header-cell *matHeaderCellDef>Suggestions</th>
              <td mat-cell *matCellDef="let element">
                <div>
                  <ng-container *ngFor="let item of element.suggestions">
                    <div>
                      <span>
                        {{ item.suggestionSuggestion }}
                      </span>
                    </div>
                  </ng-container>
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-expansion-panel>

      <div class="definition-container">
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Dictionary
            </mat-panel-title>

            <mat-panel-description>
              <mat-form-field appearance="fill">
                <mat-label>Language</mat-label>
                <select matNativeControl [formControl]="languageFormControl">
                  <option value="en">English</option>
                  <option value="af">Afrikaans</option>
                  <option value="sq">Albanian</option>
                  <option value="am">Amharic</option>
                  <option value="ar">Arabic</option>
                  <option value="hy">Armenian</option>
                  <option value="as">Assamese</option>
                  <option value="az">Azerbaijani</option>
                  <option value="bn">Bangla</option>
                  <option value="bs">Bosnian (Latin)</option>
                  <option value="bg">Bulgarian</option>
                  <option value="yue">Cantonese (Traditional)</option>
                  <option value="ca">Catalan</option>
                  <option value="zh-Hans">Chinese Simplified</option>
                  <option value="zh-Hant">Chinese Traditional</option>
                  <option value="hr">Croatian</option>
                  <option value="cs">Czech</option>
                  <option value="da">Danish</option>
                  <option value="prs">Dari</option>
                  <option value="nl">Dutch</option>
                  <option value="en">English</option>
                  <option value="et">Estonian</option>
                  <option value="fj">Fijian</option>
                  <option value="fil">Filipino</option>
                  <option value="fi">Finnish</option>
                  <option value="fr">French</option>
                  <option value="fr-ca">French (Canada)</option>
                  <option value="de">German</option>
                  <option value="el">Greek</option>
                  <option value="gu">Gujarati</option>
                  <option value="ht">Haitian Creole</option>
                  <option value="he">Hebrew</option>
                  <option value="hi">Hindi</option>
                  <option value="mww">Hmong Daw</option>
                  <option value="hu">Hungarian</option>
                  <option value="is">Icelandic</option>
                  <option value="id">Indonesian</option>
                  <option value="iu">Inuktitut</option>
                  <option value="ga">Irish</option>
                  <option value="it">Italian</option>
                  <option value="ja">Japanese</option>
                  <option value="kn">Kannada</option>
                  <option value="kk">Kazakh</option>
                  <option value="km">Khmer</option>
                  <option value="tlh-Latn">Klingon</option>
                  <option value="tlh-Piqd">Klingon (plqaD)</option>
                  <option value="ko">Korean</option>
                  <option value="ku">Kurdish (Central)</option>
                  <option value="kmr">Kurdish (Northern)</option>
                  <option value="lo">Lao</option>
                  <option value="lv">Latvian</option>
                  <option value="lt">Lithuanian</option>
                  <option value="mg">Malagasy</option>
                  <option value="ms">Malay</option>
                  <option value="ml">Malayalam</option>
                  <option value="mt">Maltese</option>
                  <option value="mi">Maori</option>
                  <option value="mr">Marathi</option>
                  <option value="my">Myanmar</option>
                  <option value="ne">Nepali</option>
                  <option value="nb">Norwegian</option>
                  <option value="or">Odia</option>
                  <option value="ps">Pashto</option>
                  <option value="fa">Persian</option>
                  <option value="pl">Polish</option>
                  <option value="pt">Portuguese (Brazil)</option>
                  <option value="pt-pt">Portuguese (Portugal)</option>
                  <option value="pa">Punjabi</option>
                  <option value="otq">Queretaro Otomi</option>
                  <option value="ro">Romanian</option>
                  <option value="ru">Russian</option>
                  <option value="sm">Samoan</option>
                  <option value="sr-Cyrl">Serbian (Cyrillic)</option>
                  <option value="sr-Latn">Serbian (Latin)</option>
                  <option value="sk">Slovak</option>
                  <option value="sl">Slovenian</option>
                  <option value="es">Spanish</option>
                  <option value="sw">Swahili</option>
                  <option value="sv">Swedish</option>
                  <option value="ty">Tahitian</option>
                  <option value="ta">Tamil</option>
                  <option value="te">Telugu</option>
                  <option value="th">Thai</option>
                  <option value="ti">Tigrinya</option>
                  <option value="to">Tongan</option>
                  <option value="tr">Turkish</option>
                  <option value="uk">Ukrainian</option>
                  <option value="ur">Urdu</option>
                  <option value="vi">Vietnamese</option>
                  <option value="cy">Welsh</option>
                  <option value="yua">Yucatec Maya</option>
                </select>
              </mat-form-field>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field appearance="outline">
            <mat-label>Search a word</mat-label>
            <input matInput
                   placeholder="Search..."
                   type="text"
                   autocomplete="off"
                   [formControl]="searchFormControl"
                   pattern="[^\s]*">
            <button mat-button
                    matSuffix
                    (click)="getDefinition()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>

          <div *ngIf="dicObj[0].word != ''">
            <div class="inline-container">
              <button mat-button
                      (click)="playAudio()">
                <mat-icon>volume_up</mat-icon>
              </button>

              <div id="dic-word">
                <h2><strong>{{ dicObj[0].word }}</strong></h2>
                <h4>{{ dicObj[0].phonetics[0].text }}</h4>
              </div>
            </div>

            <ng-container *ngFor="let dicItem of dicObj">
              <div class="description-container"
                   *ngFor="let dicMeaning of dicItem.meanings">
                <h4><i>{{ dicMeaning.partOfSpeech }}</i></h4>

                <ng-container *ngFor="let def of dicMeaning.definitions">
                  <p style="margin-bottom: 0;"> {{ def.definition }}</p>
                  <p style="color: gray;" *ngIf="def.example != null"> "{{ def.example }}" </p>
                </ng-container>
              </div>
            </ng-container>
          </div>

        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <button (click)="translate()">FOO TRANSLATE</button>
    <button (click)="synth()">FOO AUDIO</button>
    <button (click)="typeWriter('TEST')">FOO TW</button>
  </mat-drawer>

  <mat-drawer-content>
    <div class="form-container">
      <div id="form-flex-container">
        <!-- Warning Alert -->
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="badwordWarning">
          <strong>Warning!</strong> Please enter a valid input without the use of profanity.
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                  (click)="closeWarning()"></button>
        </div>

        <div id="conversation-history">

            


          <mat-list dense id="message-list">
            <mat-list-item *ngFor="let message of messages">
              <p> {{ message }} </p>
            </mat-list-item>
            <mat-list-item>
              <p #tw></p>
            </mat-list-item>
          </mat-list>
        </div>

        <div id="input-container">
          <div id="input-flex-container">
            <div class="input-button-container">
              <button mat-fab
                      color="accent"
                      (click)="startService()"
                       *ngIf="this.service.isStoppedSpeechRecog">
                <mat-icon>mic</mat-icon>
              </button>
              <button mat-fab
                      color="basic"
                      (click)="stopListening()"
                      *ngIf="!this.service.isStoppedSpeechRecog">
                <mat-icon>stop</mat-icon>
              </button>
            </div>
            <!--<div class="input-button-container" *ngIf="recordBool">
              <button mat-fab
                      color="basic"
                      (click)="stopListening()">
                <mat-icon>stop</mat-icon>
              </button>
            </div>-->

            <mat-form-field id="input-full-width">
              <mat-label>Message</mat-label>
              <textarea type="text"
                        matInput
                        [formControl]="inputFormControl"
                        placeholder="Enter message"
                        autocomplete="off"
                        [errorStateMatcher]="matcher"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        (input)="this.service.stop(this.inputFormControl.value)"></textarea>

              <mat-error *ngIf="inputFormControl.hasError('required')">
                Message is empty
              </mat-error>

              <mat-error *ngIf="inputFormControl.hasError('maxlength')">
                Message exceeds 140 characters
              </mat-error>

              <mat-hint>{{ inputFormControl.value.length }}/140</mat-hint>
            </mat-form-field>

            <div class="input-button-container">
              <button mat-fab
                      (click)="spellCheckFunc()"
                      color="basic"
                      [disabled]="!inputFormControl.valid">
                <mat-icon>spellcheck</mat-icon>
              </button>
            </div>

            <div class="input-button-container">
              <button mat-fab
                      color="primary"
                      (click)="sendClick()"
                      [disabled]="!inputFormControl.valid">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
