/*.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}*/

#input-button-row {
  display: table;
  width: 100%;
}

.input-button, #input-full-width {
  display: table-cell;
  width: auto;
}


#input-full-width {
  width: 90%;
  padding: 0 10px 0 10px;
}


