<mat-drawer-container class="drawer-container">

  <mat-drawer mode="side" opened disableClose>

    <div class="definition-container">

      <h1>Dictionary [Language]</h1>

      <mat-form-field appearance="outline">
        <mat-label>Search a word</mat-label>
        <input matInput
               placeholder="Search..."
               type="text"
               autocomplete="off"
               [formControl]="searchFormControl">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="inline-container">
        <mat-icon>volume_up</mat-icon>
        <div id="dic-word">
          <h2><strong>perseverance [WORD]</strong></h2>
          <h4>/ˌpərsəˈvɪrəns/ [PHONETIC]</h4>
        </div>
      </div>
      <div class="description-container">
        <h4><i>noun [PARTOFSPEECH]</i></h4>
        <p>Persistence in doing something despite difficulty or delay in achieving success. [DEFINITION]</p>
      </div>

    </div>

    <mat-divider></mat-divider>
    <br />

    <div class="grammar-container">
      <h1>Grammar</h1>
    </div>
                                  
  </mat-drawer>

  <mat-drawer-content>
    <div class="form-container">
      <div id="form-flex-container">

        <!-- Warning Alert -->
        <div class="alert alert-danger alert-dismissible fade show" *ngIf="badwordWarning">
          <strong>Warning!</strong> Please enter a valid input without the use of profanity.
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"
                  (click)="closeWarning()"></button>
        </div>

        <div id="conversation-history">
          <mat-list dense id="message-list">
            <mat-list-item *ngFor="let message of messages">
              <p> {{ message }} </p>
            </mat-list-item>
          </mat-list>
        </div>

        <div id="input-container">
          <div id="input-flex-container">

            <div class="input-button-container">
              <button mat-fab
                      color="accent"
                      (click)="startService()">
                <mat-icon>mic</mat-icon>
              </button>
            </div>

            <mat-form-field id="input-full-width">

              <mat-label>Message</mat-label>


              <textarea type="text"
                         matInput
                         [formControl]="inputFormControl"
                         placeholder="Enter message"
                         autocomplete="off"
                         [errorStateMatcher]="matcher"
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"></textarea>
              <!--value={{service.text}}-->

              <mat-error *ngIf="inputFormControl.hasError('required')">
                Message is empty
              </mat-error>

              <mat-error *ngIf="inputFormControl.hasError('maxlength')">
                Message exceeds 140 characters
              </mat-error>

              <mat-hint>{{ inputFormControl.value.length }}/140</mat-hint>


            </mat-form-field>
            <div class="input-button-container">
              <button mat-fab
                      color="primary"
                      (click)="sendClick()"
                      [disabled]="!inputFormControl.valid">
                <mat-icon>send</mat-icon>
              </button>
              <button (click)="fooFunc()">foo</button>
            </div>

          </div>
        </div>
      </div>
    </div>

  </mat-drawer-content>

</mat-drawer-container>
