/*
.form-container {
  width: 100%;
  color: navy;
  display:table;
}
*/
#input-container {
  display: table;
  bottom: 10px;
  position: absolute;
  width: 90%;
}

#conversation-history {
  height: calc(100% - 220px);
  width: 90%;
  position: absolute;
  overflow-y: scroll;
}

#input-full-width {
  width: 100%;
  padding: 0 10px 0 10px;
}

.input-button-container, #input-full-width, .input-button-container {
  display: table-cell;
  width: auto;
}

.input-button-container {
  justify-content: center;
  width: 80px;

}


